__pycache__/
*.py[cod]
.git/

build/
dist/
release/
docker/data/
__pycache__/

*.log
crash_log.txt
platform_cookies.json
platform_cookies.json.tmp
platform_cookies.enc
platform_cookies.enc.tmp

*.zip
*.bak_*
_temp_*
_cvt_*

ffmpeg.exe
ffprobe.exe
