AUDIOMETA_DATA_DIR=./docker/data
AUDIOMETA_CONFIG_DIR=./docker/config
AUDIOMETA_IMAGE_TAG=latest
AUDIOMETA_WEB_TOKEN=
XIMALAYA_COOKIE=
KUWO_COOKIE=
QIDIAN_COOKIE=
NETEASE_COOKIE=
FANQIE_SHARE_ID=
FANQIE_X_BOGUS=
FANQIE_SIGNATURE=
FANQIE_JSSDK_COOKIE=
